<h1>Add an Animal</h1>

<form action="/add/animal" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input name="name" class="form-control" type="text" required>
    <label for="date_in">Date Arrived</label>
    <input name="date_in" class="form-control" type="date" required>
    <label for="species">Species</label>
    <input name="species" class="form-control" type="text">
    <label for="breed">Breed</label>
    <input name="breed" class="form-control" type="text" required>
    <label for="gender">Gender</label>
    <input name="gender" class="form-control" type="text" required>
    <label for="age">Age</label>
    <input name="age" class="form-control" type="number" required>
  </div>
  <hr>
 <button type="submit" class="btn btn-success">Add family</button>
</form>
