<h1>List of Families</h1>

<% if @families.any? %>
  <h3>Here are your families:</h3>

  <ul>
    <% @families.each do |family| %>
      <li><a href="/family/<%= family.id %>"><%= family.name %></a></li>
    <% end %>
  </ul>

<% else %>
  <p>
    There are no lists yet!
  </p>
<% end %>

<form class="" action="/add/family">
  <button type="submit" class="btn btn-success" name="button">Add Family</button>
</form>
<form class="" action="/">
  <button type="submit" class="btn btn-success" name="button">Return Home</button>
</form>
