<h1>HELTER SHELTER!!!</h1>

<form action="/family_list">
  <button type="submit" class="btn btn-success" name="button">families</button>
</form>

<form action="/animal_list">
  <button type="submit" class="btn btn-info" name="button">animals</button>
</form>
